.App {
  font-family: sans-serif;
  /* text-align: center; */
}
body{
  /* background-image: linear-gradient(to top,#1B3D81 ,#8fa8e2); */
  /* background-color: black; */
  /* background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGhlYXRlcnxlbnwwfHwwfHw%3D&w=1000&q=80"); */
  background-size: cover;
  background-attachment: fixed;
 background-repeat: no-repeat;
}
.bar{
  /* background-color: black; */
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.content {
  gap: 10px;
  margin: 20px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly; */
  display: grid;
  grid-template-columns: repeat(3,1fr)
}

.card {
  background-color: rgb(48, 45, 45);
  color: white;
  /* padding: 10px; */
  border-radius: 5px;
  width: 280px;
  font-size: small;
  text-align: center;
}
.card:hover{
  background-color: rgb(17, 16, 16);
}

.avatar {
  /* border-radius: 100px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.details {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.detail{
  /* background-color: rgb(165, 14, 14); */
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.summary{
  text-align: justify;
  padding: 10px;
}
.title{
  padding: 10px;
  margin-left: 20px;
  color:white;
}


/*****/
.form{
  margin: 2% 10%;
 text-align: center;
 width: 80%;
 padding: 20px;
 border-radius: 10px;
 /* background-color: rgb(229, 233, 243); */
 /* background-color: #212121; */
 box-shadow: 1px 2px gray;
 color: white;
}
.formhead{
  font-weight: bolder;
  font-size: x-large;
  /* color: rgb(36, 86, 194); */
}

.form label{
  margin: 5px;
}
button{
  margin: 20px;
  height: 40px;
  width: 80%;
  text-align: center;
}

.textbox{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
  background-color: white;
}

.material-head{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:100px;
}
.link{
  text-decoration: none;
  /* color: white; */
}

.errorimage{
  width: 100%;
  height: min-content;
}

.movieDetails{
    color: white;
    /* font-weight: bold; */
    font-size: x-large;
    background-color: black;
    padding: 20px;
}

.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* so that it is of same size even when reposnive */
  max-width: max-content; 
  /* margin: 2% 28%; */
  background-color: black;

}
.gamebox{
  margin: 3px;
  height: 150px;
  width: 150px;
  border: 2px solid white;
  text-align: center;
 font-size: 90px;
 cursor: pointer;
 background-color: black;
}
.gamebox:hover{
  background-color: rgb(112, 190, 190);
  opacity: 80%;
}
.gamebg{
  /* background-color: rgb(83, 82, 16); */
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
}
.gameArea{
 text-align: center;
}

/* @media (max-width:500px){
  .board{
    margin: 2% 10%;
  }
}
@media (min-width:501px) and (max-width:1000px){
  .board{
    margin: 2% 16%;
  }
}
@media (min-width:1000px){
  .board{
    margin: 2% 33%;
  }
} */